* {
	margin: 0;
	padding: 0;
}
.container {
	width: 100%;
	height: 100vh;
	background-color: #264653;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile-box {
	width: 350px;
	background-color: #2a9d8f;
	text-align: center;
	padding: 30px 70px;
	position: relative;
	border-radius: 20px;
}

.pp {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background-color: #264653;
	padding: 5px;
}
p {
	margin: 5px;
}

.contact-info {
	margin-top: 20px;
}
